# Assignment 04
Due Sep 26, 2024

Similar to Assignment 03, we will make use of Example Databases.

Populate the Example Databases by executing five scrips:
* The [University Database](../examples/000-university-database.ipynb)
* The [Sales Database](../examples/010-sales-database.ipynb)
* The [Nation Database](../examples/030-nations-database.ipynb)

If you populate everything right, the following code should produce the schema diagrams for the example databases. You can refer to them when writing queries.

In [ ]:
# Diagrams 
import datajoint as dj

sales = dj.VirtualModule('sales', 'classicsales')
university = dj.VirtualModule('university', 'university')
nation = dj.VirtualModule('nation', 'nation')

dj.Diagram(sales) + dj.Diagram(university) + dj.Diagram(nation)

:

In [2]:
import pymysql
import os
pymysql.install_as_MySQLdb()

connection_string = "mysql://{user}:{password}@{host}".format(
    user=os.environ['DJ_USER'],
    host=os.environ['DJ_HOST'],
    password=os.environ['DJ_PASS']
)

%load_ext sql
%sql $connection_string

In [3]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

# Problems

Write the following queries. Make sure that at least one query is written in DataJoint, one in SQL IPython Magic, and one using a mysql client cursor.

All the queries in this assignment require only one table. No multi-table queries will be required here.

To get the full credit, the query must be work correctly and should be minimal, without any extraneous information.


### Problem 1 (Sales)
Show all US customer names and zip codes.

In [6]:
%%sql
SELECT customer_name, postal_code
FROM classicsales.customer
WHERE country = 'USA';

 * mysql://root:***@localhost
36 rows affected.

[('Signal Gift Stores', '83030'),
 ('Mini Gifts Distributors Ltd.', '97562'),
 ('Mini Wheels Co.', '94217'),
 ('Land of Toys Inc.', '10022'),
 ('Muscle Machine Inc', '10022'),
 ('Diecast Classics Inc.', '70267'),
 ('Technics Stores Inc.', '94217'),
 ('American Souvenirs Inc', '97823'),
 ('Cambridge Collectables Co.', '51247'),
 ('Gift Depot Inc.', '97562'),
 ('Vitachrome Inc.', '10022'),
 ('Auto-Moto Classics Inc.', '58339'),
 ('Online Mini Collectables', '58339'),
 ('Toys4GrownUps.com', '90003'),
 ('Boards & Toys Co.', '92561'),
 ('Collectable Mini Designs Co.', '91217'),
 ("Marta's Replicas Co.", '51247'),
 ('Mini Classics', '24067'),
 ('Mini Creations Ltd.', '50553'),
 ('Corporate Gift Ideas Co.', '94217'),
 ('Tekni Collectables Inc.', '94019'),
 ('Classic Gift Ideas, Inc', '71270'),
 ("Men 'R' US Retailers, Ltd.", '91003'),
 ('Gifts4AllAges.com', '51003'),
 ('Online Diecast Creations Co.', '62005'),
 ('Collectables For Less Inc.', '58339'),
 ('Classic Legends Inc.', '10022'),
 ('Gift Ideas Corp.', '97561'),
 ('The Sharp Gifts Warehouse', '94217'),
 ('Super Scale Inc.', '97823'),
 ('Microscale Inc.', '10022'),
 ('FunGiftIdeas.com', '50553'),
 ('West Coast Collectables Co.', '94019'),
 ('Motor Mint Distributors Inc.', '71270'),
 ('Signal Collectibles Ltd.', '94217'),
 ('Diecast Collectables', '51003')]

### Problem 2 (Sales)

Show all offices that are outside the US

In [7]:
%%sql
SELECT *
FROM classicsales.office
WHERE country <> 'USA';

 * mysql://root:***@localhost
4 rows affected.

[('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA'),
 ('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan'),
 ('6', 'Sydney', '+61 2 9264 2451', '5-11 Wentworth Avenue', 'Floor #2', None, 'Australia', 'NSW 2010', 'APAC'),
 ('7', 'London', '+44 20 7877 2041', '25 Old Broad Street', 'Level 7', None, 'UK', 'EC2N 1HN', 'EMEA')]

### Problem 3 (Sales)
Show the emails of all employees from Office 1.

In [8]:
%%sql
SELECT email
FROM classicsales.employee
WHERE office_code = 1;

 * mysql://root:***@localhost
6 rows affected.

[('dmurphy@classicmodelcars.com',),
 ('mpatterso@classicmodelcars.com',),
 ('jfirrelli@classicmodelcars.com',),
 ('abow@classicmodelcars.com',),
 ('ljennings@classicmodelcars.com',),
 ('lthompson@classicmodelcars.com',)]

### Problem 4 (Sales)

Show the comments from all unshipped orders

In [9]:
%%sql
SELECT order_number, comments
FROM classicsales.order
WHERE comments <>'None';

 * mysql://root:***@localhost
80 rows affected.

[(10101, 'Check on availability.'),
 (10107, 'Difficult to negotiate with customer. We need more marketing materials'),
 (10109, 'Customer requested that FedEx Ground is used for this shipping'),
 (10112, 'Customer requested that ad materials (such as posters, pamphlets) be included in the shippment'),
 (10118, 'Customer has worked with some of our vendors in the past and is aware of their MSRP'),
 (10124, 'Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch'),
 (10127, 'Customer requested special shippment. The instructions were passed along to the warehouse'),
 (10136, 'Customer is interested in buying more Ferrari models'),
 (10143, 'Can we deliver the new Ford Mustang models by end-of-quarter?'),
 (10148, 'They want to reevaluate their terms agreement with Finance.'),
 (10150, 'They want to reevaluate their terms agreement with Finance.'),
 (10164, "This order was disputed, but resolved on 11/1/2003; Customer doesn't like the colors and precision of the models."),
 (10165, "This order was on hold because customers's credit limit had been exceeded. Order will ship when payment is received"),
 (10167, "Customer called to cancel. The warehouse was notified in time and the order didn't ship. They have a new VP of Sales and are shifting their sales model. Our VP of Sales should contact them."),
 (10173, 'Cautious optimism. We have happy customers here, if we can keep them well stocked.  I need all the information I can get on the planned shippments of Porches'),
 (10178, 'Custom shipping instructions sent to warehouse'),
 (10179, 'Customer cancelled due to urgent budgeting issues. Must be cautious when dealing with them in the future. Since order shipped already we must discuss who would cover the shipping charges.'),
 (10183, 'We need to keep in close contact with their Marketing VP. He is the decision maker for all their purchases.'),
 (10186, 'They want to reevaluate their terms agreement with the VP of Sales'),
 (10189, 'They want to reevaluate their terms agreement with Finance.'),
 (10191, 'We must be cautions with this customer. Their VP of Sales resigned. Company may be heading down.'),
 (10197, 'Customer inquired about remote controlled models and gold models.'),
 (10205, ' I need all the information I can get on our competitors.'),
 (10206, 'Can we renegotiate this one?'),
 (10207, 'Check on availability.'),
 (10213, 'Difficult to negotiate with customer. We need more marketing materials'),
 (10215, 'Customer requested that FedEx Ground is used for this shipping'),
 (10218, 'Customer requested that ad materials (such as posters, pamphlets) be included in the shippment'),
 (10224, 'Customer has worked with some of our vendors in the past and is aware of their MSRP'),
 (10230, 'Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch'),
 (10233, 'Customer requested special shippment. The instructions were passed along to the warehouse'),
 (10242, 'Customer is interested in buying more Ferrari models'),
 (10248, 'Order was mistakenly placed. The warehouse noticed the lack of documentation.'),
 (10249, 'Can we deliver the new Ford Mustang models by end-of-quarter?'),
 (10253, 'Customer disputed the order and we agreed to cancel it. We must be more cautions with this customer going forward, since they are very hard to please. We must cover the shipping fees.'),
 (10254, 'Customer requested that DHL is used for this shipping'),
 (10260, 'Customer heard complaints from their customers and called to cancel this order. Will notify the Sales Manager.'),
 (10262, 'This customer found a better offer from one of our competitors. Will call back to renegotiate.'),
 (10264, 'Customer will send a truck to our local warehouse on 7/1/2004'),
 (10270, 'Can we renegotiate this one?'),
 (10279, 'Cautious optimism. We have happy customers here, if we can keep them well stocked.  I need all the information I can get on the planned shippments of Porches'),
 (10284, 'Custom shipping instructions sent to warehouse'),
 (10289, 'We need to keep in close contact with their Marketing VP. He is the decision maker for all their purchases.'),
 (10292, 'They want to reevaluate their terms agreement with Finance.'),
 (10295, 'They want to reevaluate their terms agreement with Finance.'),
 (10297, 'We must be cautions with this customer. Their VP of Sales resigned. Company may be heading down.'),
 (10303, 'Customer inquired about remote controlled models and gold models.'),
 (10305, 'Check on availability.'),
 (10308, 'Customer requested that FedEx Ground is used for this shipping'),
 (10311, 'Difficult to negotiate with customer. We need more marketing materials'),
 (10313, 'Customer requested that FedEx Ground is used for this shipping'),
 (10316, 'Customer requested that ad materials (such as posters, pamphlets) be included in the shippment'),
 (10319, 'Customer requested that DHL is used for this shipping'),
 (10322, 'Customer has worked with some of our vendors in the past and is aware of their MSRP'),
 (10327, "Order was disputed and resolved on 12/1/04. The Sales Manager was involved. Customer claims the scales of the models don't match what was discussed."),
 (10328, 'Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch'),
 (10331, 'Customer requested special shippment. The instructions were passed along to the warehouse'),
 (10334, 'The outstaniding balance for this customer exceeds their credit limit. Order will be shipped when a payment is received.'),
 (10336, 'Customer requested that DHL is used for this shipping'),
 (10340, 'Customer is interested in buying more Ferrari models'),
 (10347, 'Can we deliver the new Ford Mustang models by end-of-quarter?'),
 (10358, 'Customer requested that DHL is used for this shipping'),
 (10367, "This order was disputed and resolved on 2/1/2005. Customer claimed that container with shipment was damaged. FedEx's investigation proved this wrong."),
 (10368, 'Can we renegotiate this one?'),
 (10377, 'Cautious optimism. We have happy customers here, if we can keep them well stocked.  I need all the information I can get on the planned shippments of Porches'),
 (10382, 'Custom shipping instructions sent to warehouse'),
 (10386, "Disputed then Resolved on 3/15/2005. Customer doesn't like the craftsmaship of the models."),
 (10387, 'We need to keep in close contact with their Marketing VP. He is the decision maker for all their purchases.'),
 (10390, 'They want to reevaluate their terms agreement with Finance.'),
 (10393, 'They want to reevaluate their terms agreement with Finance.'),
 (10395, 'We must be cautions with this customer. Their VP of Sales resigned. Company may be heading down.'),
 (10400, 'Customer requested that DHL is used for this shipping'),
 (10401, 'Customer credit limit exceeded. Will ship when a payment is received.'),
 (10406, 'Customer claims container with shipment was damaged during shipping and some items were missing. I am talking to FedEx about this.'),
 (10407, 'Customer credit limit exceeded. Will ship when a payment is received.'),
 (10413, 'Customer requested that DHL is used for this shipping'),
 (10414, 'Customer credit limit exceeded. Will ship when a payment is received.'),
 (10415, "Customer claims the scales of the models don't match what was discussed. I keep all the paperwork though to prove otherwise"),
 (10417, "Customer doesn't like the colors and precision of the models."),
 (10421, 'Custom shipping instructions were sent to warehouse')]

### Problem 5 (Sales) 
Show all products names where the scale is greater than 1:50  (e.g. 1:72)

Hint: You will need to learn about 
* [MySQL string functions](https://dev.mysql.com/doc/refman/8.4/en/string-functions.html) 
* [MySQL cast functions](https://dev.mysql.com/doc/refman/8.4/en/cast-functions.html)

Hint: You should get 14 rows

In [10]:
%%sql
SELECT product_scale, product_name
FROM classicsales.product
WHERE product_scale > '1:50';

 * mysql://root:***@localhost
14 rows affected.

[('1:72', 'P-51-D Mustang'),
 ('1:700', 'The Schooner Bluenose'),
 ('1:700', 'American Airlines: B767-300'),
 ('1:700', 'The Mayflower'),
 ('1:700', 'HMS Bounty'),
 ('1:700', 'America West Airlines B757-200'),
 ('1:700', 'The USS Constitution Ship'),
 ('1:700', 'ATA: B757-300'),
 ('1:72', 'F/A 18 Hornet 1/72'),
 ('1:700', 'The Titanic'),
 ('1:700', 'The Queen Mary'),
 ('1:700', 'American Airlines: MD-11S'),
 ('1:72', 'Boeing X-32A JSF'),
 ('1:72', 'Pont Yacht')]

### Problem 6 (Sales)
Show all order numbers that were shipped late, i.e. where the shipped date was after the required date.

Hint: there is only one such order

In [11]:
%%sql
SELECT order_number, shipped_date
FROM classicsales.order
WHERE shipped_date > required_date;

 * mysql://root:***@localhost
1 rows affected.

[(10165, datetime.date(2003, 12, 26))]

### Problem 7 (Sales)
Show all the order numbers for the orders that took a week or longer to ship, i.e. the difference between the order date and shipped date.

Hint: This will require learning about [MySQL date functions](https://dev.mysql.com/doc/refman/8.4/en/date-and-time-functions.html)

In [12]:
%%sql
SELECT order_number
FROM classicsales.order
WHERE (shipped_date - order_date) > 7;

 * mysql://root:***@localhost
29 rows affected.

[(10103,),
 (10104,),
 (10119,),
 (10120,),
 (10126,),
 (10133,),
 (10152,),
 (10153,),
 (10165,),
 (10168,),
 (10196,),
 (10197,),
 (10198,),
 (10210,),
 (10215,),
 (10226,),
 (10233,),
 (10234,),
 (10244,),
 (10258,),
 (10263,),
 (10264,),
 (10286,),
 (10287,),
 (10298,),
 (10299,),
 (10373,),
 (10385,),
 (10397,)]

### Problem 8 (Sales) 

Show the product names for all motorcycles along with their markup price (the difference between MSRP and buy_price)

In [13]:
%%sql
SELECT product_name, (MSRP - buy_price) as markup_price
FROM classicsales.product
WHERE product_line = 'Motorcycles';

 * mysql://root:***@localhost
13 rows affected.

[('1969 Harley Davidson Ultimate Chopper', Decimal('46.89')),
 ('1996 Moto Guzzi 1100i', Decimal('49.95')),
 ('2003 Harley-Davidson Eagle Drag Bike', Decimal('102.64')),
 ('2002 Suzuki XREO', Decimal('84.35')),
 ('1936 Harley Davidson El Knucklehead', Decimal('36.34')),
 ('1957 Vespa GS150', Decimal('29.22')),
 ('1997 BMW R 1100 S', Decimal('51.84')),
 ('1960 BSA Gold Star DBD34', Decimal('38.85')),
 ('1982 Ducati 900 Monster', Decimal('22.16')),
 ('1997 BMW F650 ST', Decimal('32.97')),
 ('1982 Ducati 996 R', Decimal('16.09')),
 ('1974 Ducati 350 Mk3 Desmo', Decimal('45.92')),
 ('2002 Yamaha YZR M1', Decimal('47.19'))]

### Problem 9 (University)

Show all students names with the initials R. S.  (i.g. Rachel Shelton)

In [4]:
%%sql
SELECT first_name, last_name
FROM university.student
WHERE first_name LIKE 'R%' AND last_name LIKE 'S%';

 * mysql://root:***@localhost
1 rows affected.

[('Roger', 'Sutton')]

### Problem 10 (University)
Show the student ids for all Math majors who declared their majors 2024.

In [5]:
%%sql
SELECT student_id, dept, term_year
From university.enroll
WHERE dept = 'MATH' AND term_year = '2024';

 * mysql://root:***@localhost
0 rows affected.

[]

### Problem 11 (Nation) 

Show all countries greater than 1 mil sq km that don't have a national day.

In [7]:
%%sql
SELECT name, area, national_day
FROM nation.countries
EXCEPT
SELECT name, area, national_day
FROM nation.countries
WHERE national_day > 0 OR area > 1000000;

 * mysql://root:***@localhost
73 rows affected.

[('Aruba', Decimal('193.00'), None),
 ('Andorra', Decimal('468.00'), None),
 ('Netherlands Antilles', Decimal('800.00'), None),
 ('American Samoa', Decimal('199.00'), None),
 ('French Southern territories', Decimal('7780.00'), None),
 ('Bahamas', Decimal('13878.00'), None),
 ('Bermuda', Decimal('53.00'), None),
 ('Bhutan', Decimal('47000.00'), None),
 ('Bouvet Island', Decimal('59.00'), None),
 ('Cocos (Keeling) Islands', Decimal('14.00'), None),
 ('Côte d’Ivoire', Decimal('322463.00'), None),
 ('Congo', Decimal('342000.00'), None),
 ('Cook Islands', Decimal('236.00'), None),
 ('Christmas Island', Decimal('135.00'), None),
 ('Cayman Islands', Decimal('264.00'), None),
 ('Germany', Decimal('357022.00'), None),
 ('Denmark', Decimal('43094.00'), None),
 ('Dominican Republic', Decimal('48511.00'), None),
 ('Western Sahara', Decimal('266000.00'), None),
 ('Spain', Decimal('505992.00'), None),
 ('Fiji Islands', Decimal('18274.00'), None),
 ('Falkland Islands', Decimal('12173.00'), None),
 ('Faroe Islands', Decimal('1399.00'), None),
 ('Federated States of Micronesia', Decimal('702.00'), None),
 ('United Kingdom', Decimal('242900.00'), None),
 ('Gibraltar', Decimal('6.00'), None),
 ('Guadeloupe', Decimal('1705.00'), None),
 ('Gambia', Decimal('11295.00'), None),
 ('French Guiana', Decimal('90000.00'), None),
 ('Guam', Decimal('549.00'), None),
 ('Heard Island and McDonald Islands', Decimal('359.00'), None),
 ('British Indian Ocean Territory', Decimal('78.00'), None),
 ('Italy', Decimal('301316.00'), None),
 ('Japan', Decimal('377829.00'), None),
 ('South Korea', Decimal('99434.00'), None),
 ('Liechtenstein', Decimal('160.00'), None),
 ('Luxembourg', Decimal('2586.00'), None),
 ('Monaco', Decimal('1.50'), None),
 ('Marshall Islands', Decimal('181.00'), None),
 ('Macedonia', Decimal('25713.00'), None),
 ('Northern Mariana Islands', Decimal('464.00'), None),
 ('Montserrat', Decimal('102.00'), None),
 ('Martinique', Decimal('1102.00'), None),
 ('Mayotte', Decimal('373.00'), None),
 ('New Caledonia', Decimal('18575.00'), None),
 ('Norfolk Island', Decimal('36.00'), None),
 ('Niue', Decimal('260.00'), None),
 ('Netherlands', Decimal('41526.00'), None),
 ('Nepal', Decimal('147181.00'), None),
 ('New Zealand', Decimal('270534.00'), None),
 ('Pitcairn', Decimal('49.00'), None),
 ('Palau', Decimal('459.00'), None),
 ('Puerto Rico', Decimal('8875.00'), None),
 ('North Korea', Decimal('120538.00'), None),
 ('French Polynesia', Decimal('4000.00'), None),
 ('Réunion', Decimal('2510.00'), None),
 ('South Georgia and the South Sandwich Islands', Decimal('3903.00'), None),
 ('Saint Helena', Decimal('314.00'), None),
 ('Svalbard and Jan Mayen', Decimal('62422.00'), None),
 ('San Marino', Decimal('61.00'), None),
 ('Saint Pierre and Miquelon', Decimal('242.00'), None),
 ('Sao Tome and Principe', Decimal('964.00'), None),
 ('Swaziland', Decimal('17364.00'), None),
 ('Turks and Caicos Islands', Decimal('430.00'), None),
 ('Thailand', Decimal('513115.00'), None),
 ('Tokelau', Decimal('12.00'), None),
 ('Turkey', Decimal('774815.00'), None),
 ('United States Minor Outlying Islands', Decimal('16.00'), None),
 ('Holy See (Vatican City State)', Decimal('0.40'), None),
 ('Virgin Islands, British', Decimal('151.00'), None),
 ('Virgin Islands, U.S.', Decimal('347.00'), None),
 ('Wallis and Futuna', Decimal('200.00'), None),
 ('Yugoslavia', Decimal('102173.00'), None)]

### Problem 12 (Nation)

Show the names of countries whose national day is before the year 1800.

In [8]:
%%sql
SELECT name, national_day
FROM nation.countries
WHERE national_day < '1800-01-01';

 * mysql://root:***@localhost
6 rows affected.

[('Switzerland', datetime.date(1291, 8, 1)),
 ('France', datetime.date(1789, 7, 14)),
 ('Oman', datetime.date(1650, 11, 18)),
 ('Portugal', datetime.date(1640, 12, 1)),
 ('Sweden', datetime.date(1523, 6, 6)),
 ('United States', datetime.date(1776, 7, 4))]